* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#main_bg {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  background-image: linear-gradient(rgba(0, 0, 0, 0.38), rgba(0, 0, 0, 0.7)),
    url("../images/model-s.jpg");
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.main_sec {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
}
.users {
  border-radius: 30px;
  background-color: rgba(20, 21, 60, 0.661);
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  height: 250px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.users:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.users > h3 {
  color: rgba(255, 255, 255, 0.987);
}
.img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin: 20px;
  background-size: cover;
  background-position: center;
}
#customer {
  background-image: url("../images/customer.png");
}
#driver {
  background-image: url("../images/driver.jpg");
}
#vehical {
  background-image: url("../images/vehicale.jpg");
}
